# Copyright (c) 2026 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

config TEST_WDT_NOINIT_SECTION
	string "Watchdog test's NOINIT section"
	default ".rcar_backup_buffer.test_wdt" if RCAR_BACKUP_BUFFER
	default ".noinit.test_wdt"
	help
	  Set the memory region used as NOINIT for the
	  wdt_variables test.
