/*
 * Copyright (c) 2026 Renesas Electronics Corporation
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <dt-bindings/input/input-event-codes.h>
#include <rh850/renesas/rh850u2b/r7f70254xafabg-c.dtsi>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>

#include "pb_rh850u2b_468pin-pinctrl.dtsi"

/ {
	model = "Renesas RH850 U2B 468pin";
	compatible = "renesas,pb-rh850u2b-468pin", "renesas,u2b";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,system-timer = &ostm0;
		zephyr,crc = &crc0;
		zephyr,canbus = &canfd0;
	};

	aliases {
		led0 = &led2;
		watchdog0 = &wdtb0;
		pwm-led0 = &pwm_led_0;
		pwm-led1 = &pwm_led_1;
	};

	leds {
		compatible = "gpio-leds";

		led2: led2 {
			gpios = <&ioport11 0 GPIO_ACTIVE_HIGH>;
			label = "LED2";
		};
	};

	pwmleds {
		compatible = "pwm-leds";

		pwm_led_0: pwm_led_0 {
			pwms = <&pwm0_slave 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM LED 0";
		};

		pwm_led_1: pwm_led_1 {
			pwms = <&pwm1_slave 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "PWM LED 1";
		};
	};

	can_phy0: can-phy0 {
		compatible = "can-transceiver-gpio";
		standby-gpios = <&ioport13 0 GPIO_ACTIVE_HIGH>;
		max-bitrate = <8000000>;
		#phy-cells = <0>;
	};
};

&pwm0_master {
	status = "okay";
};

&pwm0_slave {
	pinctrl-0 = <&pwm0_slave_default>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm1_slave {
	pinctrl-0 = <&pwm1_slave_default>;
	pinctrl-names = "default";
	status = "okay";
};

&ostm0 {
	status = "okay";

	timer {
		status = "okay";
	};
};

&rlin30 {
	pinctrl-0 = <&rlin30_default>;
	pinctrl-names = "default";
	status = "okay";

	uart0: uart {
		current-speed = <115200>;
		status = "okay";
	};
};

&irq35 {
	trigger-type = "falling";
	pinctrl-0 = <&irq35_ioport>;
	pinctrl-names = "default";
	status = "okay";
};

&irq36 {
	trigger-type = "falling";
	pinctrl-0 = <&irq36_ioport>;
	pinctrl-names = "default";
	status = "okay";
};

&ioport11 {
	status = "okay";
};

&iic0 {
	pinctrl-0 = <&iic0_default>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	status = "okay";
};

&iic1 {
	pinctrl-0 = <&iic1_default>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	status = "okay";
};

&mspi0 {
	pinctrl-0 = <&mspi0_default>;
	pinctrl-names = "default";
	channel = <0>;
	status = "okay";
};

&mspi1 {
	pinctrl-0 = <&mspi1_default>;
	pinctrl-names = "default";
	channel = <0>;
	status = "okay";
};

&wdtb0 {
	status = "okay";
};

&crc0 {
	status = "okay";
};

&canfd_global {
	status = "okay";
};

&canfd0 {
	pinctrl-0 = <&canfd0_default>;
	pinctrl-names = "default";
	status = "okay";
	rx-max-filters = <128>;
	phys = <&can_phy0>;
};

&ioport13 {
	status = "okay";
};
