/*
 * Copyright (c) 2026 Renesas Electronics Corporation
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <dt-bindings/input/input-event-codes.h>
#include <rh850/renesas/rh850u2c/r7f702600afabb-c.dtsi>
#include <dt-bindings/gpio/gpio.h>

#include "pb_rh850u2c_292pin-pinctrl.dtsi"

/ {
	model = "Renesas RH850 U2C 292pin";
	compatible = "renesas,pb-rh850u2c-292pin", "renesas,u2c";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,system-timer = &ostm0;
	};

	aliases {
		led0 = &led10;
		watchdog0 = &wdtb0;
	};

	leds {
		compatible = "gpio-leds";

		led10: led10 {
			gpios = <&ioaport4 0 GPIO_ACTIVE_HIGH>;
			label = "LED10";
		};
	};
};

&ostm0 {
	status = "okay";

	timer {
		status = "okay";
	};
};

&rlin30 {
	pinctrl-0 = <&rlin30_default>;
	pinctrl-names = "default";
	status = "okay";

	uart0: uart {
		current-speed = <115200>;
		status = "okay";
	};
};

&etnf0 {
	pinctrl-0 = <&etnf0_default>;
	pinctrl-names = "default";
	local-mac-address = [74 90 50 12 34 56];
	status = "okay";
};

&irq17 {
	trigger-type = "falling";
	pinctrl-0 = <&irq17_ioport>;
	pinctrl-names = "default";
	status = "okay";
};

&irq35 {
	trigger-type = "falling";
	pinctrl-0 = <&irq35_ioport>;
	pinctrl-names = "default";
	status = "okay";
};

&ioport2 {
	irqs = <&irq35 4>;
	status = "okay";
};

&ioaport4 {
	status = "okay";
};

&mspi0 {
	pinctrl-0 = <&mspi0_default>;
	pinctrl-names = "default";
	channel = <0>;
	status = "okay";
};

&mspi1 {
	pinctrl-0 = <&mspi1_default>;
	pinctrl-names = "default";
	channel = <0>;
	status = "okay";
};

&wdtb0 {
	status = "okay";
};
