# Copyright (c) 2026 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config RENESAS_RH850_EXT_IRQ
	bool "Renesas RH850 external interrupt controller driver"
	default y
	depends on DT_HAS_RENESAS_RH850_EXT_IRQ_ENABLED
	select USE_RH850_FSP_EXT_IRQ
	select PINCTRL
	help
	  Renesas RH850 external interrupt controller driver
