# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RH850U2B

config CLOCK_CONTROL_INIT_PRIORITY
	default 30

config NUM_IRQS
	default 768

DT_ICLK_PATH := $(dt_nodelabel_path,iclk)

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_node_int_prop_int,$(DT_ICLK_PATH),clock-frequency)

config BUILD_OUTPUT_HEX
	default n

config BUILD_OUTPUT_BIN
	default n

config BUILD_OUTPUT_S19
	default n

config CLOCK_CONTROL
	default y

config DYNAMIC_INTERRUPTS
	default y

config MULTITHREADING
	default n

# Set to the minimal size of data which can be written.
config FLASH_FILL_BUFFER_SIZE
	default 128

endif # SOC_SERIES_U2B10