# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RH850U2B
	select RH850
	select CPU_G4MH
	select XIP
	select HAS_RENESAS_U2B_FSP
	select CLOCK_CONTROL_RENESAS_U2B_CGC if CLOCK_CONTROL
	select HAS_RENESAS_RH850_RDP
	select SOC_EARLY_INIT_HOOK
	select HAS_FLASH_LOAD_OFFSET
	select CPU_HAS_FPU
	select HAS_RENESAS_U2X_INTERRUPT
	select MULTITHREADING
	select ARCH_HAS_CUSTOM_SWAP_TO_MAIN
