# Copyright (c) 2026 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config DMA_RENESAS_RH850
	bool "Renesas RH850 DMAC"
	default y
	depends on DT_HAS_RENESAS_RH850_DMA_ENABLED
	select USE_RH850_FSP_DMAC
	help
	  Enable Renesas RH850 DMA Driver.
