/*
 * Copyright (c) 2026 Renesas Electronics Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <rh850/renesas/rh850u2c/u2c-g4kh-common.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	soc {
		sram0: memory@fe000000 {
			compatible = "mmio-sram";
			reg = <0xfe000000 DT_SIZE_K(384)>;
		};

		ostm0: ostm0@ffbf0000 {
			compatible = "renesas,rh850-ostm";
			reg = <0xffbf0000 0x20>;
			channel = <0>;
			interrupts = <63 0>;
			interrupt-parent = <&intc2>;
			status = "disabled";

			timer {
				compatible = "renesas,rh850-ostm-timer";
				status = "disabled";
			};
		};

		rlin30: rlin30@ffc7c000 {
			compatible = "renesas,rh850-rlin3";
			interrupts = <173 1>, <174 1>, <175 1>, <176 1>;
			interrupt-names = "rlin3i", "txi", "rxi", "eri";
			reg = <0xffc7c000 0x3e0f00>;
			interrupt-parent = <&intc2>;
			status = "disabled";

			uart0: uart {
				compatible = "renesas,rh850-rlin3-uart";
				channel = <0>;
				status = "disabled";
			};
		};

		/* ETNF0 MAC node */
		etnf0: ethernet@ff1d0000 {
			compatible = "renesas,rh850-ethernet-etnf";
			reg = <0xff1d0000 0x77c>;
			interrupts = <536 0>;
			interrupt-parent = <&intc2>;
			phy-connection-type = "internal";
			mdio-interface = "shared";
			pma-filtered;
			status = "disabled";

			ct25205: phy {
				compatible = "renesas,ct25205-phy";
				phy-lsi-addr = <31>;
				plca-enable;
				plca-node-id = <0>;
				plca-node-count = <8>;
				plca-burst-count = <0>;
				plca-burst-timer = <128>;
				plca-to-timer = <32>;
				status = "okay";
			};
		};

		ioport0: gpio@ffd90000 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90000 0x40>;
			port = <0>;
			protected-write-mask = <0>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport2: gpio@ffd90080 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90080 0x40>;
			port = <2>;
			protected-write-mask = <2>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport3: gpio@ffd900c0 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd900c0 0x40>;
			port = <3>;
			protected-write-mask = <3>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport4: gpio@ffd90100 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90100 0x40>;
			port = <4>;
			protected-write-mask = <4>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport6: gpio@ffd90180 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90180 0x40>;
			port = <6>;
			protected-write-mask = <6>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport8: gpio@ffd90200 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90200 0x40>;
			port = <8>;
			protected-write-mask = <7>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport10: gpio@ffd90280 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90280 0x40>;
			port = <10>;
			protected-write-mask = <8>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport17: gpio@ffd90440 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90440 0x40>;
			port = <17>;
			protected-write-mask = <10>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport19: gpio@ffd904c0 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd904c0 0x40>;
			port = <19>;
			protected-write-mask = <11>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport22: gpio@ffd90580 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90580 0x40>;
			port = <22>;
			protected-write-mask = <14>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport24: gpio@ffd90600 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90600 0x40>;
			port = <24>;
			protected-write-mask = <15>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioport27: gpio@ffd906c0 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd906c0 0x40>;
			port = <27>;
			protected-write-mask = <16>;
			port-type = "port";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioaport0: gpio@ffd90c80 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90c80 0x40>;
			port = <0>;
			protected-write-mask = <20>;
			port-type = "aport";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioaport1: gpio@ffd90cc0 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90cc0 0x40>;
			port = <1>;
			protected-write-mask = <21>;
			port-type = "aport";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioaport2: gpio@ffd90d00 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90d00 0x40>;
			port = <2>;
			protected-write-mask = <22>;
			port-type = "aport";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioaport3: gpio@ffd90d40 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90d40 0x40>;
			port = <3>;
			protected-write-mask = <23>;
			port-type = "aport";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		ioaport4: gpio@ffd90d80 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffd90d80 0x40>;
			port = <4>;
			protected-write-mask = <24>;
			port-type = "aport";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};

		iojport0: gpio@ffda0000 {
			compatible = "renesas,rh850-gpio";
			reg = <0xffda0000 0x40>;
			port = <0>;
			protected-write-mask = <255>;
			port-type = "jport";
			#gpio-cells = <2>;
			gpio-controller;
			status = "disabled";
		};
	};
};
