# Copyright (c) 2026 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config RTC_RENESAS_RH850
	bool "Renesas RH850 RTCA"
	default y
	depends on DT_HAS_RENESAS_RH850_RTC_ENABLED
	select USE_RH850_FSP_RTCA
	help
	  Enable Renesas RH850 RTC Driver.
