# SPDX-FileCopyrightText: Copyright Nordic Semiconductor ASA
# SPDX-FileCopyrightText: Copyright 2026 Renesas, Embedd
# SPDX-License-Identifier: Apache-2.0

rsource "Kconfig.uvc"
rsource "hid/Kconfig"
rsource "Kconfig.dfu"

