/*
 * Copyright (c) 2026 Renesas Electronics Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "renesas,g4mh";
			reg = <0>;
			status = "okay";
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "renesas,g4mh";
			reg = <1>;
			status = "disabled";
		};
	};

	intc: interrupt-controller {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;

		intc1: intc1 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "simple-bus";
			ranges;

			intc1_pe0: interrupt-controller@fffc4000 {
				#address-cells = <1>;
				#interrupt-cells = <2>;
				compatible = "renesas,rh850-intc";
				interrupt-controller;
				reg = <0xfffc4000 0x40>,
				      <0xfffc4100 0x80>;
				reg-names = "EIC", "EIBD";
				num-lines = <32>;
			};

			intc1_pe1: interrupt-controller@fffc8000 {
				#address-cells = <1>;
				#interrupt-cells = <2>;
				compatible = "renesas,rh850-intc";
				interrupt-controller;
				reg = <0xfffc8000 0x40>,
				      <0xfffc8100 0x80>;
				reg-names = "EIC", "EIBD";
				num-lines = <32>;
			};
		};

		intc2: interrupt-controller@fff80000 {
			#address-cells = <1>;
			#size-cells = <0>;
			#interrupt-cells = <2>;
			compatible = "renesas,rh850-intc";
			interrupt-controller;
			reg = <0xfff80000 0x40>,
			      <0xfff82000 0x80>;
			reg-names = "EIC", "EIBD";
			num-lines = <992>;

			irq0: irq0@0 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x00>;
				interrupt-controller;
				interrupts = <765 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq1: irq1@1 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x01>;
				interrupt-controller;
				interrupts = <766 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq2: irq2@2 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x02>;
				interrupt-controller;
				interrupts = <767 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq3: irq3@3 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x03>;
				interrupt-controller;
				interrupts = <768 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq4: irq4@4 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x04>;
				interrupt-controller;
				interrupts = <769 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq5: irq5@5 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x05>;
				interrupt-controller;
				interrupts = <770 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq6: irq6@6 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x06>;
				interrupt-controller;
				interrupts = <771 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq7: irq7@7 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x07>;
				interrupt-controller;
				interrupts = <772 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq8: irq0@8 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x08>;
				interrupt-controller;
				interrupts = <773 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq9: irq9@9 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x09>;
				interrupt-controller;
				interrupts = <774 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq10: irq10@a {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x0a>;
				interrupt-controller;
				interrupts = <775 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq11: irq11@b {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x0b>;
				interrupt-controller;
				interrupts = <776 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq12: irq12@c {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x0c>;
				interrupt-controller;
				interrupts = <777 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq13: irq13@d {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x0d>;
				interrupt-controller;
				interrupts = <778 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq14: irq14@e {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x0e>;
				interrupt-controller;
				interrupts = <779 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq15: irq15@f {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x0f>;
				interrupt-controller;
				interrupts = <780 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq16: irq16@10 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x10>;
				interrupt-controller;
				interrupts = <781 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq17: irq17@11 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x11>;
				interrupt-controller;
				interrupts = <782 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq18: irq18@12 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x12>;
				interrupt-controller;
				interrupts = <783 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq19: irq19@13 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x13>;
				interrupt-controller;
				interrupts = <784 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq20: irq20@14 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x14>;
				interrupt-controller;
				interrupts = <785 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq21: irq21@15 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x15>;
				interrupt-controller;
				interrupts = <786 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq22: irq22@16 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x16>;
				interrupt-controller;
				interrupts = <787 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq23: irq23@17 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x17>;
				interrupt-controller;
				interrupts = <788 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq24: irq24@18 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x18>;
				interrupt-controller;
				interrupts = <789 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq25: irq25@19 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x19>;
				interrupt-controller;
				interrupts = <790 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq26: irq26@1a {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x1a>;
				interrupt-controller;
				interrupts = <791 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq27: irq27@1b {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x1b>;
				interrupt-controller;
				interrupts = <792 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq28: irq28@1c {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x1c>;
				interrupt-controller;
				interrupts = <793 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq29: irq29@1d {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x1d>;
				interrupt-controller;
				interrupts = <794 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq30: irq30@1e {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x1e>;
				interrupt-controller;
				interrupts = <795 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq31: irq31@1f {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x1f>;
				interrupt-controller;
				interrupts = <796 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq32: irq32@20 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x20>;
				interrupt-controller;
				interrupts = <797 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq33: irq33@21 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x21>;
				interrupt-controller;
				interrupts = <798 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq34: irq34@22 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x22>;
				interrupt-controller;
				interrupts = <799 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq35: irq35@23 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x23>;
				interrupt-controller;
				interrupts = <800 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq36: irq36@24 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x24>;
				interrupt-controller;
				interrupts = <801 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq37: irq37@25 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x25>;
				interrupt-controller;
				interrupts = <802 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq38: irq38@26 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x26>;
				interrupt-controller;
				interrupts = <803 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq39: irq39@27 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x27>;
				interrupt-controller;
				interrupts = <804 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq40: irq40@28 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x28>;
				interrupt-controller;
				interrupts = <817 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq41: irq41@29 {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x29>;
				interrupt-controller;
				interrupts = <818 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq42: irq42@2a {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x2a>;
				interrupt-controller;
				interrupts = <819 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};

			irq43: irq43@2b {
				#address-cells = <1>;
				compatible = "renesas,rh850-ext-irq";
				reg = <0x2b>;
				interrupt-controller;
				interrupts = <820 1>;
				#interrupt-cells = <2>;
				#irq-cells = <1>;
				status = "disabled";
			};
		};

		feinc: feinc {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "simple-bus";
			ranges;

			feinc_pe0: interrupt-controller@ff9a3b00 {
				#address-cells = <1>;
				#interrupt-cells = <1>;
				compatible = "renesas,rh850-feinc";
				interrupt-controller;
				reg = <0xff9a3b00 0x4>,
				      <0xff9a3b04 0x4>,
				      <0xff9a3b08 0x4>;
				reg-names = "FEINTF", "FEINTMSK", "FEINTC";
				num-lines = <3>;
			};

			feinc_pe1: interrupt-controller@ff9a3c00 {
				#address-cells = <1>;
				#interrupt-cells = <1>;
				compatible = "renesas,rh850-feinc";
				interrupt-controller;
				reg = <0xff9a3c00 0x4>,
				      <0xff9a3c04 0x4>,
				      <0xff9a3c08 0x4>;
				reg-names = "FEINTF", "FEINTMSK", "FEINTC";
				num-lines = <3>;
			};
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;

		pinctrl: pin-controller@ffd90000 {
			compatible = "renesas,rh850-pinctrl";
			reg = <0xffd90000 0x40>;
			status = "okay";
		};

		swint0: swint@ffc00000 {
			compatible = "renesas,rh850-swint";
			reg = <0xffc00000 0x01>;
			interrupts-extended = <&intc1_pe0 14 14>,
					      <&intc1_pe1 14 14>;
			interrupt-names = "swint_pe0", "swint_pe1";
			status = "okay";
		};
	};
};
