# Copyright (c) 2026 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config MBOX_RENESAS_RCAR_MFIS
	bool "Renesas R-Car MBOX (MFIS) driver"
	default y
	depends on DT_HAS_RENESAS_RCAR_MFIS_COMMON_MBOX_ENABLED || \
		   DT_HAS_RENESAS_RCAR_MFIS_SCP_MBOX_ENABLED
	select USE_RCARSOC_DRV_MFIS
	help
	  Enable Renesas R-Car MBOX (MFIS) driver
