# Renesas RH850 architecture configuration options

# Copyright (c) 2026 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

menu "Renesas RH850 Options"
	depends on RH850

config ARCH
	string
	default "rh850"

config HAS_EXCEPT_VECTOR_TABLE
	bool
	help
	  Set if the processor has the exception vector table.

config CPU_G4MH
	bool
	help
	  Set if the processor supports the Renesas G4MH instruction set.

config CPU_HAS_FXU
	bool
	help
	  This option is enabled when the CPU has hardware Extended
	  floating-point operation unit.

config FXU
	bool "Extended floating-point operation unit (FXU)"
	depends on CPU_HAS_FXU
	help
	  This option enables the hardware Extended floating-point operation unit (FPU),
	  in order to support using the floating point registers and instructions.

	  The execution of one extended floating-point operation
	  instruction allows the execution of four single-precision
	  floating-point (vector data) operations.
	  This is an operation generally referred to as an
	  SIMD(Single Instruction Multiple Data) operation.

	  Note: The use of FXU instructions depends on compiler support.
	  Ensure your compiler is configured to generate FXU instructions when
	  targeting this feature.

config XIP
	default y

config NUM_IRQ_PRIO_LEVELS
	int "Number of supported interrupt priority levels"
	range 1 16
	default 16
	help
	  Interrupt priorities available will be 0 to NUM_IRQ_PRIO_LEVELS-1. The
	  minimum value is 1. The BSP must provide a valid default for proper
	  operation.

config NUM_IRQS
	int
	default 1024

config GEN_ISR_TABLES
	default y

config GEN_SW_ISR_TABLE
	default y

config GEN_IRQ_VECTOR_TABLE
	default y

config GEN_IRQ_START_VECTOR
	default 0

config DYNAMIC_INTERRUPTS
	default y

config ARCH_IRQ_VECTOR_TABLE_ALIGN
	default 512

config MAIN_STACK_SIZE
	default 4096

config INITIALIZATION_STACK_SIZE
	int "Initialization stack size (in bytes)"
	default 512
	help
	  Stack size for initialization process of kernel (in bytes)

endmenu
