/*
 * Copyright (c) 2026 Renesas Electronics Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <renesas/rcar/gen5/rcar_gen5_cr52.dtsi>
#include <zephyr/dt-bindings/clock/r8a7800_clkc_mdlc.h>

/ {
	soc {
		pfc: pin-controller@c1080000 {
			compatible = "renesas,rcar-pfc-x5h";
			reg = <0xc1080000 0x16c>, <0xc1080800 0x16c>,
			      <0xc1081000 0x16c>, <0xc0800000 0x16c>,
			      <0xc0800800 0x16c>, <0xc0400000 0x16c>,
			      <0xc0400800 0x16c>, <0xc0401000 0x16c>,
			      <0xc0401800 0x16c>, <0xc9b00000 0x16c>,
			      <0xc9b00800 0x16c>;
		};

		clkc: clock-controller@c08f0000 {
			compatible = "renesas,r8a7800-clkc-mdlc";
			reg = <0xc08f0000 0x4000>;
			#clock-cells = <2>;
		};

		gpio0: gpio@c1080100{
			interrupts = <GIC_SPI 0 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			clocks = <&clkc CLKC_MOD R8A78000_MOD_PFC_PERE_GPIODM0>;
		};

		gpio9: gpio@c9b00100 {
			interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			clocks = <&clkc CLKC_MOD R8A78000_MOD_PFC_PERE_GPIODM0>;
		};

		scif1: serial@c0704000 {
			interrupts = <GIC_SPI 588 IRQ_TYPE_LEVEL IRQ_DEFAULT_PRIORITY>;
			clocks = <&clkc CLKC_MOD R8A78000_MOD_SCIF1>,
				 <&clkc CLKC_CORE R8A78000_CLK_SGASYNCD16_PERW_BUS>;
		};
	};
};
