/*
 * Copyright (c) 2026 Renesas Electronics Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/renesas/rcar/gen5/r8a78000.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "rcar_ironhide_x5h_r8a78000_r52-pinctrl.dtsi"
#include <zephyr/dt-bindings/ethernet/phy/ti_dp83869.h>
#include <freq.h>

/ {
	model = "R-Car Ironhide X5H R52";
	compatible = "renesas,ironhide-x5h-cr52";

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &scif1;
		zephyr,shell-uart = &scif1;
	};

	leds {
		compatible = "gpio-leds";

		led1: led1 {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "LED47";
		};

		led2: led2 {
			gpios = <&gpio9 4 GPIO_ACTIVE_HIGH>;
			label = "LED48";
		};

		led3: led3 {
			gpios = <&gpio9 5 GPIO_ACTIVE_HIGH>;
			label = "LED49";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		slide_sw1: sw0 {
			label = "SW44-1";
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};

		slide_sw2: sw1 {
			label = "SW44-2";
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_1>;
		};

		button1: sw2 {
			label = "SW45";
			gpios = <&gpio9 1 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_2>;
		};

		button2: sw3 {
			label = "SW46";
			gpios = <&gpio9 2 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_3>;
		};

		button3: sw4 {
			label = "SW47";
			gpios = <&gpio9 3 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_4>;
		};
	};

	aliases {
		led0 = &led1;
		led1 = &led2;
		sw0 = &button1;
	};

	zephyr,user {
		audio-codec-gpios = <&gpio6 21 GPIO_ACTIVE_LOW>;
		audio-codec-dir = "out";
	};
};

&mdio4 {
	pinctrl-0 = <&rsw3_etha4_mdc_default &rsw3_etha4_mdio_default>;
	pinctrl-names = "default";
	status = "disabled";

	phy2: ethernet-phy@2 {
		compatible = "ti,dp83869";
		reg = <2>;
		ti,op-mode = <DP83869_OP_MODE_SGMII_COPPER_ETHERNET>;
		status = "disabled";
	};
};

&gpio0 {
	status = "okay";
};

&gpio6 {
	status = "okay";
};

&gpio9 {
	status = "okay";
};

&scif1 {
	pinctrl-0 = <&scif1_data_tx_default &scif1_data_rx_default>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c5 {
	pinctrl-0 = <&i2c5_sda_default &i2c5_scl_default>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c6 {
	pinctrl-0 = <&i2c6_sda_default &i2c6_scl_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";

	audio_codec: ak4619@10 {
		compatible = "asahi-kasei,ak4619";
		reg = <0x10>;
		status = "okay";
		pdn-gpios = <&gpio6 20 GPIO_ACTIVE_HIGH>;
		adc1-l-input-mode = "pseudo-differential";
		adc1-r-input-mode = "pseudo-differential";
		mclk = <&adg0 ADG_CLKOUT(0)>;
	};
};

&audio_clk_a {
	clock-frequency = <DT_FREQ_K(24576)>;
};

&adg0 {
	audio-clkout-sel = <ADG_CLKSRC(BRGB) ADG_CLKSRC(NONE)
			    ADG_CLKSRC(NONE) ADG_CLKSRC(NONE)>;
	brga-clk-sel = <ADG_BRGSRC(CLKA)>;
	brgb-clk-sel = <ADG_BRGSRC(CLKA)>;
	status = "okay";
};

&adg1 {
	audio-clkout-sel = <ADG_CLKSRC(BRGB) ADG_CLKSRC(NONE)
			    ADG_CLKSRC(NONE) ADG_CLKSRC(NONE)>;
	brga-clk-sel = <ADG_BRGSRC(CLKA)>;
	brgb-clk-sel = <ADG_BRGSRC(CLKA)>;
};

&audio_dmac0 {
	status = "okay";
};

&ssi5 {
	pinctrl-0 = <&audio_clka_default &audio0_clkout0_default
		     &ssi5_sck_default &ssi5_ws_default &ssi5_sd_default>;
	pinctrl-names = "default";
	clocks = <&clkc CLKC_MOD R8A78000_MOD_SSI05>,
		 <&clkc CLKC_MOD R8A78000_MOD_SSI0>,
		 <&adg0 ADG_CLKSRC(BRGA)>;
	clock-names = "ssi", "ssi-domain", "audio-clk";
	status = "okay";
};

&mp_phy {
	status = "okay";

	interface-names = "pci0", "pci1", "ethernet", "usb";
	ref-use-pad = <0x0f>;
	ref-repeat-clk-en = <0x00>;
};

&tsnes4 {
	pinctrl-0 = <&tsnes4_match_default
		     &tsnes4_pps_default
		     &tsnes4_capture_default>;
	pinctrl-names = "default";
	local-mac-address = [74 90 50 48 df 57];
	status = "disabled";
};
