/*
 * Copyright (c) 2026 Renesas Electronics Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/renesas/rcar/gen5/r8a7800.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "rcar_ironhide_x5h_r8a7800_r52-pinctrl.dtsi"

/ {
	model = "R-Car Ironhide X5H R52";
	compatible = "renesas,ironhide-x5h-cr52";

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &scif1;
		zephyr,shell-uart = &scif1;
	};

	leds {
		compatible = "gpio-leds";

		led1: led1 {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "LED47";
		};

		led2: led2 {
			gpios = <&gpio9 4 GPIO_ACTIVE_HIGH>;
			label = "LED48";
		};

		led3: led3 {
			gpios = <&gpio9 5 GPIO_ACTIVE_HIGH>;
			label = "LED49";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		slide_sw1: sw0 {
			label = "SW44-1";
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};

		slide_sw2: sw1 {
			label = "SW44-2";
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_1>;
		};

		button1: sw2 {
			label = "SW45";
			gpios = <&gpio9 1 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_2>;
		};

		button2: sw3 {
			label = "SW46";
			gpios = <&gpio9 2 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_3>;
		};

		button3: sw4 {
			label = "SW47";
			gpios = <&gpio9 3 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_4>;
		};
	};

	aliases {
		led0 = &led1;
		led1 = &led2;
		sw0 = &button1;
	};
};

&gpio0 {
	status = "okay";
};

&gpio9 {
	status = "okay";
};

&scif1 {
	pinctrl-0 = <&scif1_data_tx_default &scif1_data_rx_default>;
	pinctrl-names = "default";
	status = "okay";
};
